<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1.0">
  <%= csrf_meta_tags %>
  <title>Mercury Editor Mediatainment Edition</title>
  <%= stylesheet_link_tag 'mercury' %>
  <%= javascript_include_tag 'jquery-1.7', 'mercury', 'dropzone' %>
</head>
<body>
<script type="text/javascript">
    // Set to the url that you want to save any given page to, leave null for default handling.
    var saveUrl = null;

    // Instantiate the PageEditor
    new Mercury.PageEditor(saveUrl, {
        saveStyle: null, // 'form', or 'json' (default json)
        saveMethod: null, // 'PUT', or 'POST', (create, vs. update -- default PUT)
        visible: true  // boolean - if the interface should start visible or not
    });

    function addSnippet(snippet) {
        customSnippets.push(snippet);
    }

    // inform the user when document is saved

    $(window).on('mercury:ready', function () {
        Mercury.saveUrl = '/mercury/update';

        $.get("/mercury/snippets/all", function (snippets) {
            var jsonVariable = {};
            $(snippets).each(function (idx, snippetName) {
                var jsonVariable = {};
                jsonVariable[snippetName] = {};
                Mercury.Snippet.load(jsonVariable);
            });
        });


        //// find all data-snippet attributes on page
        //snippet_data_attributes = $('*').filter(function () {
        //    return $(this).data('snippet') !== undefined;
        //});
        //snippet_data_attributes.each(function () {
        //    // to add snippets we need something like this
        //    //    snippet_0: {name: "no_options"},
        //    //    snippet_1: {name: "test", options: {"first_name": "jon", "favorite_beer": "beer"}}
        //    // so let's build them by querying the API
        //    var snippet_name = $(this).data('snippet');
        //    var jsonVariable = {}; // we only have the name, we need the options also
        //    $.get("/mercury/snippets/" + snippet_name + "/parameters", function (data) {
        //        jsonVariable[snippet_name] = data[1];
        //        // now we add them to get proper uniqueIds for new added snippets
        //        Mercury.Snippet.load(jsonVariable);
        //    });
        //});
    });


    Mercury.on('saved', function(){alert("saved!")});

    // for mercury images in snippets
    Mercury.Snippet.displayOptionsFor = function (name) {

        Mercury.modal(Mercury.config.snippets.optionsUrl.replace(':name', name), {
            title: 'Snippet Options',
            handler: 'insertSnippet',
            snippetName: name
        });

        setTimeout(function () {
            $.ajax({
                url: Mercury.config.snippets.optionsUrl.replace(':name', name).replace('.html', '.js'),
                dataType: 'html',
                success: function (data) {
                    eval(data);
                }
            });

        }, 400);
        return Mercury.snippet = null;
    };
</script>
</body>
</html>
